<a href="https://colab.research.google.com/github/dbgml4647/Meachine-Learning-Study/blob/master/_0819_%ED%9E%88%EB%93%A0_%EB%A0%88%EC%9D%B4%EC%96%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#라이브러리 사용

import tensorflow as tf
import pandas as pd

In [2]:
#과거의 데이터를 준비한다 

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
# 독립 변수 , 종속 변수 관리 

독립 = 보스턴 [ ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]

종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [8]:
# 모델의 구조를 만듭니다

X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10,activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)

model= tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [13]:
model.summary()

Model: "functional_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                140
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [10]:
# 데이터로 모델을 학습합니다

model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 22.6345
Epoch 2/10
16/16 [==============================] - 0s 919us/step - loss: 24.3752
Epoch 3/10
16/16 [==============================] - 0s 974us/step - loss: 22.7340
Epoch 4/10
16/16 [==============================] - 0s 973us/step - loss: 23.2347
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.3022
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6049
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1850
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.0009
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 22.4729
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 22.6448

In [11]:
#모델을 이용합니다

model.predict(독립[0:5])

array([[28.617401],
       [23.015928],
       [28.84471 ],
       [33.3584  ],
       [31.460037]], dtype=float32)

In [12]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2