<a href="https://colab.research.google.com/github/dbgml4647/Meachine-Learning-Study/blob/master/_0819_%EC%95%84%EC%9D%B4%EB%A6%AC%EC%8A%A4_%ED%92%88%EC%A2%85_%2B_%ED%9E%88%EB%93%A0%EB%A0%88%EC%9D%B4%EC%96%B4_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 사용 
import tensorflow as tf
import pandas as pd

In [2]:
#과거의 데이터를 준비한다 
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [3]:
#원핫인코딩
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [4]:
print(인코딩.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [6]:
#독립 변수, 종속 변수 

독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 인코딩[['품종_setosa', '품종_versicolor',
       '품종_virginica']]
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [15]:
#모델의 구조를 만듭니다

X= tf.keras.layers.Input(shape=[4])
H = tf.keras.layers.Dense(8, activation='swish')(X)
H = tf.keras.layers.Dense(8, activation='swish')(H)
H = tf.keras.layers.Dense(8, activation='swish')(H)
Y = tf.keras.layers.Dense(3,activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy')

In [20]:
model.summary()

Model: "functional_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 4)]               0
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 40
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_4 (Dense)              (None, 3)                 27
=================================================================
Total params: 211
Trainable params: 211
Non-trainable params: 0
_________________________________________________________________

In [16]:
# 3.데이터로 모델을 학습(FIT)합니다.
model.fit(독립,종속,epochs=1000, verbose=0)
model.fit(독립,종속,epochs=10)

Epoch 1/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0465 - accuracy: 0.9867
Epoch 2/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0442 - accuracy: 0.9800
Epoch 3/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0424 - accuracy: 0.9867
Epoch 4/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0578 - accuracy: 0.9800
Epoch 5/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0492 - accuracy: 0.9867
Epoch 6/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0474 - accuracy: 0.9867
Epoch 7/10
5/5 [==============================] - 0s 3ms/step - loss: 0.0515 - accuracy: 0.9867
Epoch 8/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0473 - accuracy: 0.9800
Epoch 9/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0432 - accuracy: 0.9800
Epoch 10/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0563 - accuracy: 0.9733

In [11]:
#모델을 이용하기

print(model.predict(독립[:5]))
print(종속[:5])

[[9.99009728e-01 9.90091707e-04 1.13062086e-07]
 [9.95517194e-01 4.48170304e-03 1.05999220e-06]
 [9.98211384e-01 1.78825099e-03 3.68556357e-07]
 [9.95171487e-01 4.82692337e-03 1.48389586e-06]
 [9.99257982e-01 7.41863041e-04 8.31337701e-08]]
   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

In [17]:
print(model.predict(독립[-5:]))
print(종속[:5])

[[1.3604139e-27 1.9610039e-04 9.9980396e-01]
 [1.7850412e-23 4.8171394e-03 9.9518281e-01]
 [5.7086456e-24 7.7509005e-03 9.9224913e-01]
 [2.2244081e-27 2.6191448e-04 9.9973804e-01]
 [6.7707363e-21 9.7322807e-02 9.0267718e-01]]
   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

In [18]:
print(model.predict(독립[-5:]))
print(종속[-5:])

[[1.3604139e-27 1.9610039e-04 9.9980396e-01]
 [1.7850412e-23 4.8171394e-03 9.9518281e-01]
 [5.7086456e-24 7.7509005e-03 9.9224913e-01]
 [2.2244081e-27 2.6191448e-04 9.9973804e-01]
 [6.7707363e-21 9.7322807e-02 9.0267718e-01]]
     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

In [19]:
#학습한 가중치 출력하기 
model.get_weights()

[array([[ 0.10116876,  0.56502616,  0.5036629 , -0.45014343,  0.24350776,
         -0.12009734,  0.01747745, -0.17828456],
        [-0.24247889,  0.7076198 ,  0.46678624,  0.43481964, -0.05711007,
         -0.06401046,  0.35817897,  0.6059837 ],
        [-0.34514797,  0.10254807,  0.8240076 , -0.2123067 ,  0.62809575,
         -0.22165547, -0.62610066, -0.46687123],
        [-0.73087525, -0.7191136 ,  0.02973144, -0.9631314 ,  0.8827381 ,
         -0.503802  , -0.41261744, -0.82469624]], dtype=float32),
 array([ 0.43655533,  0.3363426 , -0.03995506,  0.12120058, -0.22004801,
         0.45181543,  0.16312791,  0.275905  ], dtype=float32),
 array([[ 0.8945987 , -1.0012319 , -0.54767835,  0.35473523,  0.4030992 ,
          0.764314  , -1.0659106 , -0.6367366 ],
        [ 0.69165957,  0.2563143 ,  0.3897586 , -0.41102135, -0.45233077,
         -0.5702793 ,  0.50609535,  0.6381573 ],
        [ 0.7870301 ,  0.18601555,  0.4234857 ,  0.31867003, -0.38963905,
          0.58238983, -0.33301327,  0.21267778],
        [ 0.74411815, -1.027788  , -1.1917086 , -0.04609907,  0.7245963 ,
          0.17770019, -0.1067169 , -0.32533976],
        [ 0.7294462 , -0.39974475, -0.8200846 ,  0.07001644,  0.6221142 ,
          0.80683863,  0.13290034, -0.704851  ],
        [ 0.05801881, -1.0486779 , -0.47931126,  0.27317622,  0.65294135,
          0.92208207, -1.1369779 , -0.13065551],
        [ 0.07553466, -1.2419515 , -0.7663573 , -0.33911407,  0.3808371 ,
          0.96055096, -0.9853358 , -0.6857382 ],
        [ 0.19117726, -0.8039379 , -0.4507753 , -0.09992791, -0.01654975,
          0.6124904 , -1.1442212 , -1.1885878 ]], dtype=float32),
 array([ 0.06611885,  0.2328299 ,  0.22791922,  0.13225059, -0.12343258,
        -0.22704679,  0.32364658,  0.26545423], dtype=float32),
 array([[ 5.90594232e-01, -3.48795503e-01,  6.08826637e-01,
          1.79353729e-01,  4.38640714e-01, -2.61578441e-01,
          2.90962636e-01, -4.51011688e-01],
        [-5.85430264e-01,  1.06228566e+00, -5.01964390e-01,
          5.07683396e-01,  6.91658780e-02,  2.66128808e-01,
         -7.78596640e-01,  1.03998734e-02],
        [-9.87185895e-01,  1.37818503e+00, -4.12482023e-02,
          7.40874588e-01,  6.84946105e-02,  3.35911304e-01,
         -6.04028046e-01,  5.64613521e-01],
        [-8.57151970e-02, -8.90198588e-01, -5.93083948e-02,
         -1.84376419e-01, -3.03139180e-01, -7.00390577e-01,
          5.85366488e-01, -9.25593153e-02],
        [-8.14526081e-01,  5.27269244e-01,  7.70383626e-02,
          4.59350646e-01, -5.99931553e-02, -4.70422328e-01,
          9.00194198e-02,  2.77386159e-01],
        [ 5.80993891e-01, -9.27022621e-02,  1.27628283e-03,
         -2.50558794e-01, -2.97717631e-01, -1.60135403e-01,
          5.92024863e-01,  9.99290347e-02],
        [-5.13862491e-01, -1.84522331e-01, -3.62598598e-01,
          9.90844309e-01,  1.16889484e-01,  4.13588017e-01,
         -8.97656381e-01,  6.39066279e-01],
        [-8.09946477e-01,  1.56195715e-01, -4.78404984e-02,
          8.63405883e-01,  2.41842017e-01,  5.64142168e-01,
         -5.96005797e-01,  9.97456670e-01]], dtype=float32),
 array([ 0.13213977,  0.2045229 , -0.01938016,  0.16029842,  0.09880213,
         0.3456522 , -0.2565302 ,  0.19871636], dtype=float32),
 array([[-3.2440188 ,  0.42110315,  1.0609208 ],
        [ 2.2476568 , -1.6917078 ,  0.94572616],
        [ 0.23468843, -0.27144504,  0.07316805],
        [-0.09271436,  0.6777478 , -0.8440528 ],
        [-0.7926216 ,  0.25692362, -0.07473235],
        [ 1.486463  ,  0.14344156,  1.4349157 ],
        [-1.4856191 ,  0.11464914,  1.2361157 ],
        [ 2.7537487 , -0.57081   ,  1.584989  ]], dtype=float32),
 array([ 0.04160954,  0.13984749, -0.34990752], dtype=float32)]